body * {
   width: 100%;
   box-sizing: border-box;
}
body {
   margin: 0;
}
.container {
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 0.2fr 1fr 1fr;
   grid-template-areas:
      "a . b b"
      "c d e f"
      "g g g f";
   min-height: 100vh;
   padding: 20px;
   grid-row-gap: 20px;
   grid-column-gap: 20px;
}
article, aside, section, main {
   display: flex;
   font-family: 'Arial';
   justify-content: center;
   align-items: center;
}

.menu1 {
   grid-area: a;
   background: #de0a7e;
   min-height: 40px;
}

.menu2 {
   grid-area: b;
   background: yellow;
   min-height: 40px;
   color: #444;
}

article {  background: #00a4cf; }
.card1 { grid-area: c; }
.card2 { grid-area: d; }
.card3 { grid-area: e; }

main { 
   grid-area: g;
   background: #00a4cf;
}
aside { 
   grid-area: f;
   background: #36353a;
}

@media (max-width: 900px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.2fr 0.3fr 1fr 1fr 1fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
      padding: 10px;
      grid-row-gap: 10px;
      grid-column-gap: 10px;
   }
}

@media (max-width: 600px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
         "a ."
         "b b"
         "c c"
         "d d"
         "e e"
         "g g";
   }
   article, main { min-height: 30vh; }
   aside { display: none; }
}