<nav>
    <ul>
        <li {% if page.url == "/" or page.url contains "/lectures/" %}class="active"{% endif %}><a href="{{site.baseurl}}/">Schedule</a></li>
        <!-- <li {% if page.url contains "/assignments/" %}class="active"{% endif %}><a href="{{site.baseurl}}/assignments/">Assignments</a></li> -->
        <li {% if page.url contains "reference" %}class="active"{% endif %}><a href="{{site.baseurl}}/html-reference/">Web Reference</a></li>
        <li {% if page.url == "/times-locations/" %}class="active"{% endif %}><a href="{{site.baseurl}}/times-locations/">Office Hours Calendar</a></li>
    </ul>
</nav>
