body {
    margin: 0;
}
#myCanvas {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    position: fixed;
}

h1 {
  font-family: 'Arial';
}
h1, article {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
article {
  line-height: 1.7em;
  text-align: justify;
  font-size: 1.3em;
  z-index: 100;
}
